.profArea {
  width: 100%;
  height: 100%;
}

.profArea__cover {
  height: 200px;
  background-color: #ccc;
}

.profArea__icon {
  transform: translate(15%, -50%);
  box-sizing: border-box;
  top: 100px;
  width: 145.5px;
  height: 145.5px;
  border-radius: 50%;
  background-color: #ccc;
  border: 5px solid #fff;
}