.widgets {
  flex: 0.3;
  margin-left: 30px;
  overflow-y: scroll;
}

.widgets::-webkit-scrollbar {
  display: none;
}

.widgets__serchContainer {
  position: sticky;
  top: 0px;
  padding: 5px 0;
  background-color: #fff;
}

.widgets__search {
  display: flex;
  align-items: center;
  background-color: var(--twitter-background);
  padding: 10px;
  border-radius: 20px;
}

.widgets__search > input {
  background-color: var(--twitter-background);
  flex: 1;
  border: none;
  outline: none;
  margin-left: 15px;
  font-size: .9em;
}

.widgets__searchIcon {
  color: gray;
}

.widgets__widgetContainer {
  margin-top: 15px;
  padding: 15px;
  background-color: #f5f8fa;
  border-radius: 20px;
}

.widgets__widgetContainer > h2 {
  font-size: 1.3em;
  font-weight: 800;
  margin: 0;
}