.timeline {
  flex: 6.3;
  margin-right: 30px;
  border-right: 1px solid var(--twitter-background);
  overflow-y: scroll;
}

.timeline::-webkit-scrollbar {
  display: none;
}

.timeline__header {
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, .8);
  backdrop-filter: blur(12px);
  z-index: 100;
  border-bottom: 1px solid var(--twitter-background);
  padding: 11.5px;
}

.timeline__header h2 {
  margin: 0;
  font-size: 20px;
  font-weight: 800;
}