.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-right: 1px solid var(--twitter-background);
  min-width: 259px;
  max-width: 259px;
  padding-left: 8px;
  padding-right: 8px;
  transition: all .5s;
}

.sidebar__nav {
  display: flex;
  flex: .6;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin: 2px 0 4px 0;
}

.sidebar__twitterIcon {
  color: var(--twitter-color);
  font-size: 33px !important;
  margin: 11.5px 0 5px 12px;
}

.sidebar__tweet {
  width: 233px;
  min-height: 50px;
  color: #fff !important;
  margin-top: 4px !important;
  background-color: var(--twitter-color) !important;
  font-size: 18px !important;
  font-weight: 900 !important;
  border: none !important;
  border-radius: 30px !important;
  transition: all .5s !important;
	white-space: nowrap;
}

.sidebar__tweetIcon {
  display: none !important;
  color: #fff !important;
}

.sidebar__tweet > p {
  margin: 0 !important;
  padding: 0 !important;
  font-size: 18px !important;
  font-weight: 900 !important;
}

@media (max-width: 1264px) {
  .sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid var(--twitter-background);
    min-width: 72px;
    max-width: 72px;
  }
  .sidebar__twitterIcon {
    color: var(--twitter-color);
    font-size: 33px !important;
    margin: 11.5px 0 17px 0;
  }
  .sidebar__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .sidebar__tweet {
    min-width: 50px !important;
    width: 50px !important;
    max-height: 50px !important;
    padding: 0 !important;
  }
  .sidebar__tweetIcon {
    margin-top: -2px;
    display: block !important;
    color: #fff !important;
    font-size: 26px !important;
  }
  .sidebar__tweet > p {
    display: none;
  }
}

@media (max-width: 1077px) {
  .sidebar {
    padding-left: 4px !important;
    padding-right: 4px !important;
  }
}

@media (max-width: 600px) {
  .sidebar {
    min-width: 60px;
    max-width: 60px;
  }
}