.sidebarOption {
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 50px;
  transition: all 0.15s;
  margin: 5px 0;
}

.sidebarOption:hover {
  opacity: 0.8;
  background-color: var(--twitter-background);
}

.sidebarOption > .MuiSvgIcon-root {
  padding: 0 5px;
  margin-left: 5px;
  font-size: 1.8em;
}

.sidebarOption > h2 {
  font-size: 20px;
  margin: 0;
  padding: 12px;
  font-weight: normal;
}

.sidebarOption.sidebarOption__active > h2 {
  font-weight: bold;
}