.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-right: 1px solid var(--twitter-background);
  min-width: 259px;
  max-width: 259px;
  padding-left: 8px;
  padding-right: 8px;
  transition: all .5s;
  overflow-y: scroll;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar__nav {
  display: flex;
  flex: .6;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin: 2px 0 4px 0;
}

.sidebar__blur {
  display: none;
}

.sidebar__twitterIcon {
  color: var(--twitter-color);
  font-size: 33px !important;
  margin: 11.5px 0 5px 12px;
}

.sidebar__tweet {
  width: 233px;
  min-height: 50px;
  color: #fff !important;
  margin-top: 4px !important;
  background-color: var(--twitter-color) !important;
  font-size: 18px !important;
  font-weight: 900 !important;
  border: none !important;
  border-radius: 30px !important;
  transition: all .5s !important;
	white-space: nowrap;
}

.sidebar__tweetIcon {
  display: none !important;
  color: #fff !important;
}

.sidebar__tweet > p {
  margin: 0 !important;
  padding: 0 !important;
  font-size: 18px !important;
  font-weight: 900 !important;
}

@media (max-width: 1264px) {
  .sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid var(--twitter-background);
    min-width: 72px;
    max-width: 72px;
  }
  .sidebar__twitterIcon {
    color: var(--twitter-color);
    font-size: 33px !important;
    margin: 11.5px 0 17px 0;
  }
  .sidebar__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .sidebar__tweet {
    min-width: 50px !important;
    width: 50px !important;
    max-height: 50px !important;
    padding: 0 !important;
  }
  .sidebar__tweetIcon {
    margin-top: -2px;
    display: block !important;
    color: #fff !important;
    font-size: 26px !important;
  }
  .sidebar__tweet > p {
    display: none;
  }
}

@media (max-width: 1077px) {
  .sidebar {
    padding-left: 4px !important;
    padding-right: 4px !important;
  }
}

@media (max-width: 600px) {
  .sidebar {
    min-width: 60px;
    max-width: 60px;
  }
}

@media (max-width: 500px) {
  .sidebar {
    min-width: 100%;
    max-width: 100%;
    /* min-height: 52.8px; */
    min-height: 86px;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    border-right: none;
    border-top: 1px solid var(--twitter-background);
    background-color: #fff;
    z-index: 2000;
    position: fixed;
    bottom: 0px;
  }

  .sidebar__nav {
    min-width: 100% !important;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 0px !important;
  }

  .sidebar__twitterIcon {
    position: fixed !important;
    margin: 10px 0 !important;
    top: 0px !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    z-index: 1 !important;
  }

  .sidebar__tweet {
    position: fixed !important;
    /* bottom: 70px !important; */
    bottom: 105px !important;
    right: 17px !important;
    z-index: 1000 !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3) !important;
    min-width: 56px !important;
    margin: 0 !important;
    width: 56px !important;
    max-height: 56px !important;
    height: 56px !important;
    border-radius: 30px !important;
  }
}